
.names-container{
  
    display: flex;
    flex-wrap: wrap;
  
    margin: 0 auto;
    padding: 10px;
}
.names{
  
    max-width: 50px;
    padding: 4px 28px;
    margin: 15px;
}
.big-container{
  border: solid yellow 5px;
   max-width: 60%;
      margin: 0 auto;
}
hr{
      border-top: 6px dashed red;
}
.m{
    background-color: blue;
}
.f{
    background-color: pink;
}